.header {
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px #ececec;
}
.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__logo img {
    height: 35px;
}
.header__login {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    line-height: 24px;
    font-weight: 500;
    color: #656565;
}
.header__login a,
.header__login button {
    padding: 5px 20px;
    background-color: #efefef;
    border-radius: 5px;
    color: #656565;
    outline: none;
    border: 1px solid #efefef;
    font-weight: 600;
}
.header__login button {
    margin-left: 15px;
}
.header__login a:hover,
.header__login button:hover {
    background: #e0e0e0;
    cursor: pointer;
    transition: 0.5s;
}