.navbar {
    min-width: 15%;
    margin-right: 20px;
}
.nav {
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px #e2e2e2;
}

.nav__item {
    color: #5d5d5d;
    padding: 0 10px;
    border-radius: 5px;
}
.nav__item:hover {
    background: #eeeeee;
    cursor: pointer;
}

.nav__link {
    position: relative;
    padding: 5px 10px 5px 24px;
    text-decoration: none;
    color: #5d5d5d;
    width: 100%;
}
.nav__link:hover {
    background: #eeeeee;
    cursor: pointer;
}

.nav__link_active {
    font-weight: bold;
}

.nav__link_profile:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f2c0";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7600;
}
.nav__link_messages:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f003";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7600;
}
.nav__link_news:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f09d";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7600;
}
.nav__link_music:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f001";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7600;
}
.nav__link_settings:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f085";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ff7600;
}

