.profileinfo {
    display: flex;
}

.profileinfo__photo {
    width: 30%;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
    margin-right: 20px;
    /*box-shadow: 0 5px 5px #ececec;*/
    box-shadow: 0 3px 3px #e2e2e2;
    position: relative;
    height: 0%;
}
.profileinfo__photo img {
    width: 100%;
    border-radius: 4px;
}
.profileinfo__upload_box {
    position: absolute;
    height: 35px;
    left: 0;
    top: 0;
    padding: 25px;
    width: 100%;
    display: none;
}
.profileinfo__upload_box input[type=file] {
    display: none;
}
.profileinfo__upload_btn {
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #686868;
    color: #efefef;
    font-weight: 500;
    border-radius: 4px;
}
.profileinfo__upload_btn:hover {
    background: #747474;
}

.profileinfo__description {
    width: 70%;
    padding: 15px;
    background: #fff;
    color: #5d5d5d;
    /*box-shadow: 0 5px 5px #ececec;*/
    box-shadow: 0 3px 3px #e2e2e2;
}
.profileinfo__name {
    font-size: 20px;
    font-weight: 500;
}
.profileinfo__about {
    margin-top: 20px;
}
.profileinfo__contact_box {
    margin-top: 20px;
}
.profileinfo__contact_items {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.profileinfo__contact_item {
    margin-right: 15px;
}
.profileinfo__edit {
    margin-top: 10px;
}
.profileinfo__edit_btn {
    padding: 3px 20px;
    background: #efefef;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: #656565;
    outline: none;
}
.profileinfo__edit_btn:hover {
    background: #e0e0e0;
    cursor: pointer;
    transition: 0.5s;
}