.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    padding: 10px;
}
.dialogs__items .active {
    font-weight: bold;
}
.dialogs__item {
    
}
.dialogs__item a {
    text-decoration: none;
    color: #5d5d5d;
}

.dialog__messages {
    padding: 10px;
}
.dialog__message {

}